p {
margin-top: 8px !important;
margin-bottom: 0px !important;
}

.admonition-title{
margin-top: 0px !important;
}

div.admonition > p:not(.admonition-title) {
margin-bottom: 8px !important;
}

li {
margin-bottom: 0px !important;
}

ul,ol {
margin-top: 0px !important;
}

h2, h3, h4{
margin-bottom: 0px !important;
}

h1, h2, h3, h4 {
font-weight: 600 !important;
color: var(--md-primary-fg-color) !important;
}

h4 {
font-size: 18px !important;
font-style: italic !important;
opacity: 0.7;
}


.md-typeset th {
background-color: var(--md-typeset-kbd-border-color) !important;
}

.md-typeset td {
  background-color: #fff;
}

.md-typeset tr:nth-child(even) td {
  background-color: #f9f9f9;
}

.md-typeset tr:hover td {
  background-color: #f0f0f0;
}
